*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body{
  background-color: #272727;
}

#tag{
  max-width: none!important;
  margin: 0 2px;
}